
<style type="text/css">
body::after {
  content: "";
  background: url("/style/images/contactbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.introBox {
  float: right;
  max-width: 58%;
}
@media (max-width:600px) {
  .introBox {
    float: none;
    max-width: 100%;
  }
}
</style>
<div class="row">
    <div class="container" id="bodyPage">
      <div class="introBox">
        <p class="tit" style='color: rgb(212,169,114); background-color:#312c2c; font-size:2em;text-align:center; padding:2.5%;'>Gia Phả Phạm Phú</p>
        <p class="content" style="font-size:2em;background-color:rgb(245,212,159);padding:2%;">Là một trang web gia phả về Tộc Phạm Cổ Mân.</br>Lập gia phả là một truyền thống của dân tộc ta, cốt để con cháu biết tên tuổi </p>
      </div>
    </div>
</div>
