<style type="text/css">
.pagination > .active > a {
	border-color: white;
	background-color: #f5d49f;
	color: #333333;
}
</style>
<script>
	const url = require('url');
</script>
<ul class="pagination">
	<li {{#unless data.people.previous}}class="disabled"{{/unless}}>
		<a href="{{peoplePaginationPreviousUrl data.people.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{peoplePaginationNavigation data.people.pages data.people.currentPage data.people.totalPages}}}
	<li {{#unless data.people.next}}class="disabled"{{/unless}}>
		<a href="{{peoplePaginationNextUrl data.people.next data.people.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
